*{
    padding: 0;
    margin: 0;
}

.nav-header{
    background-color: blue;
    display: flex;
    height: 10vh;
    width: 100%;
}

.nav-header img:nth-child(1){
    padding: 10px;
    padding-right: 20px;
}

.nav-header img:nth-child(2){
    padding-right: 50px;
}

.nav-header img:nth-child(3){
    border-radius: 5px;
    margin: 5px;
    left: 10px;
}

h1{
    color: yellowgreen;
    text-transform: uppercase;
    text-align: center;

}

table{
    width: 100%;
    font-size: 30px;
}

table, tr, td{
    border: 2px solid blue;
    border-collapse: separate;
    border-spacing: 0;
}

thead{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

thead tr td{
    border-top: 2px solid white;
    border-left: 2px solid white;
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

thead tr:nth-child(2) td{
    color: orange;
    text-transform: none;
    background-color: rgb(70, 70, 255);
}

tbody tr:nth-child(2n-1) td:first-child{
    color: red;
    font-weight: bold;
    text-align: center;
}

tbody tr td{
    color: blue
}
