*{
    padding: 0;
    margin: 0;
}

img.bg-web{
    width: 100%;
}

.container{
    display: flex;
    font-size: 25px;
    width: 100%;
}

.container .navbar{
    width: 30%;
}

.container .navbar div{
    color: blue;
    border: 2px solid blue;
    border-collapse: collapse;
    border-bottom: none;
    font-weight: bold;
}

.container .navbar div:last-child{
    border: 2px solid blue;
}

.container .section{
    width: 100%;
    margin: 0 100px;
}


h3{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    color: red;
    text-transform: uppercase;
}

table{
    width: 100%;
    color: blue;
    font-size: 20px;
}

table tr td{
    margin: 5px;
    line-height: 35px;
}

table tr td:first-child{
    text-align: right;
}