*{
    margin: 0;
    padding: 0;
}

img.icon{
    height: 10vh;
}

.title .content{
    margin: 20px 0;
    color: orange;
}

ul{
    list-style: square;
    padding: 20px;
}
li {
    color: red;
}

li span {
    color: black;
}

hr{
    border: 1px solid red;
}

.someSences .titleSences{
    padding: 30px;
    color: green;
}

.someSences .sences h4{
    color: yellowgreen;
}

.someSences .sences img{
    padding-top: 20px;
    height: 30vw;
    width: 40vw;
}